.ButtonBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ButtonBox > button {
    width: 30%;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size : 18px;
    white-space: nowrap;
}