.Header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0px;
}

.Header_left {
    display: flex;
    align-items: center;
}

.Header_cender {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.Header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.Header_right > span {
    font-size: 0.8rem;
}